<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="../../css/main.css" />
    </head>
    <body>
        <div class="section-header d-flex justify-content-between">
            <h1>
                Find your next adventure with these
                <span class="text-gradient-purple">flight deals</span>
            </h1>
            <a href="" class="d-flex align-items-center">
                <span>All</span>
                <img
                    width="25"
                    height="25"
                    src="../../../assets/icons/18/GrayArrowRight.svg"
                    alt="" />
            </a>
        </div>
    </body>
</html>
