<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <aside id="sidebar">
            <div
                class="side-wrapper d-flex justify-content-center align-items-center">
                <button id="close-menu">
                    <img src="./src/assets/icons/32/x close no.svg" alt="" />
                </button>
                <ul>
                    <li>
                        <a class="link" href="./src/pages/destinations"
                            >Destinations</a
                        >
                    </li>
                    <li><a class="link" href="#">Some</a></li>
                    <li><a class="link" href="#">Some</a></li>
                    <li><a class="link" href="#">Some</a></li>
                </ul>
            </div>
        </aside>
    </body>
</html>
