<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="../../css/main.css" />
    </head>
    <body>
        <table class="flights-table m-5">
            <thead>
                <tr>
                    <th>Duration</th>
                    <th>From - To</th>
                    <th>Stops</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="d-flex gap-1 align-items-center">
                        <img
                            class="row-image"
                            src="../../../assets/table/flight list/Hawaiian Airlines.png"
                            alt="" />
                        <div>
                            <div class="data-title text-start">16h 45m</div>
                            <div class="data-subtitle text-start">
                                Hawaiian Airlines
                            </div>
                        </div>
                    </td>
                    <td class="vertical-align-top">
                        <div class="data-title text-start">7:00AM - 4:15PM</div>
                    </td>
                    <td>
                        <div class="data-title text-start">1 stop</div>
                        <div class="data-subtitle text-start">
                            2h 45m in HNL
                        </div>
                    </td>
                    <td>
                        <div class="data-title text-start">$624</div>
                        <div class="data-subtitle text-start">round trip</div>
                    </td>
                </tr>
                <tr>
                    <td>John</td>
                    <td>25</td>
                    <td>25</td>
                    <td>25</td>
                </tr>
                <tr>
                    <td>John</td>
                    <td>25</td>
                    <td>25</td>
                    <td>25</td>
                </tr>
                <tr>
                    <td>John</td>
                    <td>25</td>
                    <td>25</td>
                    <td>25</td>
                </tr>
            </tbody>
        </table>

        <table class="prices-table">
            <thead>
                <tr>
                    <th></th>
                    <th>2/12</th>
                    <th>2/13</th>
                    <th>2/14</th>
                    <th>2/15</th>
                    <th>2/16</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>3/7</td>
                    <td>$837</td>
                    <td>$592</td>
                    <td>$592</td>
                    <td>$1,308</td>
                    <td>$837</td>
                </tr>
                <tr>
                    <td>3/8</td>
                    <td>$837</td>
                    <td>$592</td>
                    <td>$592</td>
                    <td>$837</td>
                    <td>$1,308</td>
                </tr>
                <tr>
                    <td>3/9</td>
                    <td>$624</td>
                    <td>$592</td>
                    <td>$624</td>
                    <td>$592</td>
                    <td>$592</td>
                </tr>
                <tr>
                    <td>3/10</td>
                    <td>$1,308</td>
                    <td>$624</td>
                    <td>$624</td>
                    <td>$837</td>
                    <td>$837</td>
                </tr>
                <tr>
                    <td>3/11</td>
                    <td>$592</td>
                    <td>$624</td>
                    <td>$1,308</td>
                    <td>$837</td>
                    <td>$624</td>
                </tr>
            </tbody>
        </table>
    </body>
</html>
