/* ------------------------ BUTTON STYLES START------------------------- */
/* ------------------------ Base button styles ------------------------ */
.btn {
    display: inline-block;
    padding: 0.75rem 1.25rem;
    border-radius: 0.25rem;
    transition: all 200ms ease;
    border-width: 1px;
    border-style: solid;
    background-size: 1rem;
    font-size: 1rem;
}

.btn:hover {
    cursor: pointer;
}

.btn:disabled,
.btn.disabled {
    cursor: not-allowed;
}

.btn.disabled:hover,
.btn:disabled:hover {
    background-color: transparent !important;
    cursor: not-allowed;
}

.btn.include-arrow:disabled,
.btn.include-arrow.disabled {
    background-image: url("../../assets/icons/18/GrayArrowRight.svg") !important;
    background-repeat: no-repeat;
    background-position: calc(100% - 1rem) center;
    padding: 1rem 2.2rem 1rem 1rem;
    text-align: left;
}

/* Button sizes */
.btn-lg {
    padding: 0.75rem 1.25rem;
    font-size: 1.125rem;
}

.btn-md {
    padding: 0.75rem 1.25rem;
    font-size: 1rem;
}

.btn-sm {
    padding: 0.5625rem 1rem;
    font-size: 1rem;
}

.btn-extra-sm {
    font-size: 0.875rem;
    padding: 0.53125rem 1rem;
}

/* ------------------------ Primary button styles ------------------------ */
.btn-primary {
    background-color: var(--primary-purple);
    color: var(--gray-100);
    border-color: var(--gray-100);
}

.btn-primary:hover {
    background-color: var(--dark-purple);
}

.btn-primary:disabled,
.btn-primary.disabled {
    border-color: var(--gray-400);
    background-color: var(--semi-transparent-gray) !important;
    color: var(--gray-400) !important;
}

.btn-primary.include-arrow,
.btn-primary.include-arrow.destructive {
    background-image: url("../../assets/icons/18/whiteArrowRight.svg");
    background-repeat: no-repeat;
    background-position: calc(100% - 1rem) center;
    padding: 1rem 2.2rem 1rem 1rem;
    text-align: left;
}

.btn-primary.destructive {
    background-color: var(--primary-red);
    color: var(--gray-100);
}

/* ------------------------ Secondary button styles ------------------------ */
.btn-secondary {
    background-color: transparent;
    border-color: var(--primary-purple);
    color: var(--primary-purple);
}

.btn-secondary.include-arrow {
    background-image: url("../../assets/icons/18/PurpleArrowRight.svg");
    background-repeat: no-repeat;
    background-position: calc(100% - 1rem) center;
    padding: 1rem 2.2rem 1rem 1rem;
    text-align: left;
}

.btn-secondary.destructive {
    border-color: var(--primary-red);
    color: var(--primary-red);
}

.btn-secondary.destructive.include-arrow {
    background-image: url("../../assets/icons/18/redArrowRight.svg");
    background-repeat: no-repeat;
    background-position: calc(100% - 1rem) center;
    padding: 1rem 2.2rem 1rem 1rem;
    text-align: left;
}

.btn-secondary:hover {
    background-color: var(--light-purple);
}

.btn-secondary.disabled,
.btn-secondary:disabled {
    border-color: var(--gray-400) !important;
    color: var(--gray-400) !important;
}

.btn-secondary.destructive:hover {
    background-color: transparent;
}

/* ------------------------ END OF BUTTON STYLES ------------------------ */

/* ------------------------ INPUT STYLES START ----------------------------- */
.form-control {
    background-color: var(--primary-white);
    border-radius: 0.25rem;
    border-width: 0.125rem;
    border-color: var(--gray-300);
    border-style: solid;
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
    color: var(--gray-800);
    transition: border-color 150ms ease;
}

.form-control:focus {
    outline: none;
    border: solid 0.125rem var(--primary-purple);
}

.form-control::placeholder {
    color: var(--gray-400);
}

.form-control:user-invalid,
.form-control.invalid {
    border-radius: 0.25rem;
    background: linear-gradient(white, white) padding-box,
        var(--gradient-pink) border-box;
    border: 0.125rem solid transparent;
}

.form-feedback {
    font-size: 0.75rem;
    margin-block: 0.125rem;
    display: block;
    color: var(--gray-400);
}

.form-control.invalid ~ .form-feedback-wrapper > .form-feedback {
    color: var(--primary-red) !important;
}

/* ------------------------ END OF INPUT STYLES ----------------------------- */

/* ------------------------ LINK STYLES START ----------------------------- */

.link {
    color: var(--gray-400) !important;
    font-size: 1rem;
}

.link:hover,
.link.active {
    color: var(--primary-purple) !important;
}

/* ------------------------ END LINK STYLES ----------------------------- */

/* CARD STYLES */

.card {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 25rem;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.card .card-image-wrapper {
    overflow: hidden;
    width: 100%;
}

.card.card-sm .card-image-wrapper {
    height: 25rem;
}

.card.card-sm .card-image-wrapper {
    height: 15rem;
}

.card .card-image {
    width: 100%;
    object-fit: cover;
    height: 100%;
    object-position: center;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    transition: transform 0.3s ease;
}

.card .card-text {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 1rem 1.5rem;
    width: 100%;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}
.card.card-sm .card-text {
    flex-direction: column;
}

.card.card-lg {
    width: 25rem;
}

.card.card-sm {
    width: 15rem;
}

.card.card-image-bottom {
    flex-direction: column-reverse;
}

.card.card-image-top {
    flex-direction: column;
}

.card .card-title,
.card .card-text-price {
    color: var(--gray-600);
    font-size: 1.125rem;
    font-weight: 600;
}

.card .card-description {
    color: var(--gray-400);
    font-size: 1rem;
    font-size: 400;
}

.card.card-sm .card-description {
    display: none;
}

.card:hover {
    cursor: pointer;
    .card-image {
        transform: scale(1.2);
    }
}

.card-link {
    color: var(--primary-purple);
}

.card.card-lg .card-text-detail {
    width: 80% !important;
}

.card.card-lg .card-text-price > span {
    display: none;
}

.card.card-sm .card-text-price {
    color: var(--gray-400);
    font-size: 1rem;
    font-size: 400;
}

/* END OF CARD STYLES */

/* START OF TABLE STYLES */
.flights-table {
    border-collapse: separate;
    border-spacing: 0;
    border: 1px solid var(--light-purple);
    border-radius: 1rem;
    padding: 1rem;
}

.flights-table tr td {
    transition: all 150ms ease;
}

.flights-table tr > th,
.flights-table tr > td {
    min-width: 10rem;
    padding-inline: 2.5rem;
    padding-block: 1rem;
    text-align: center;
    border-bottom: 1px solid var(--light-purple);
}

.flights-table tr:last-child > td {
    border-bottom: none;
}

.flights-table thead tr > th {
    border-bottom: 1px solid var(--light-purple);
    font-weight: bold;
}

.flights-table tbody td .data-title {
    color: var(--gray-900);
    font-size: 1rem;
}

.flights-table tbody td .data-subtitle {
    color: var(--gray-400);
    font-size: 1rem;
}
.flights-table .row-image {
    width: 2.5rem;
    height: 2.5rem;
    object-fit: cover;
}

.flights-table tr:hover td {
    background-color: var(--light-purple);
}

/* PRICES TABLE */
.prices-table {
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 1rem;
    overflow: hidden;
}

.prices-table th,
.prices-table td {
    padding: 1rem 1.5rem;
    text-align: center;
    border-bottom: 1px solid #e2e8f0;
}

.prices-table th {
    background-color: var(--purple-white);
    font-weight: 600;
}

.prices-table th:first-child,
.prices-table td:first-child {
    text-align: left;
    background-color: var(--purple-white);
    font-weight: 600;
}

.prices-table tr:last-child td {
    border-bottom: none;
}

.prices-table tbody tr:hover {
    background-color: var(--purple-white);
}

.prices-table tbody tr:hover td:first-child {
    background-color: var(--purple-white);
}

.section-header h1 {
    color: var(--gray-700);
    font-size: 1.5rem;
}

.section-header a span {
    color: var(--gray-300);
    font-size: 1.5rem;
}
