/* ------------------------ BUTTON STYLES START------------------------- */
/* ------------------------ Base button styles ------------------------ */
.btn {
    display: inline-block;
    padding: 0.75rem 1.25rem;
    border-radius: 0.25rem;
    transition: all 200ms ease;
    border-width: 1px;
    border-style: solid;
    background-size: 1rem;
    font-size: 1rem;
}

.btn:hover {
    cursor: pointer;
}

.btn:disabled,
.btn.disabled {
    cursor: not-allowed;
}

.btn.disabled:hover,
.btn:disabled:hover {
    background-color: transparent !important;
    cursor: not-allowed;
}

.btn.include-arrow:disabled,
.btn.include-arrow.disabled {
    background-image: url("../../assets/icons/18/GrayArrowRight.svg") !important;
    background-repeat: no-repeat;
    background-position: calc(100% - 1rem) center;
    padding: 1rem 2.2rem 1rem 1rem;
    text-align: left;
}

/* Button sizes */
.btn-lg {
    padding: 0.75rem 1.25rem;
    font-size: 1.125rem;
}

.btn-md {
    padding: 0.75rem 1.25rem;
    font-size: 1rem;
}

.btn-sm {
    padding: 0.5625rem 1rem;
    font-size: 1rem;
}

.btn-extra-sm {
    font-size: 0.875rem;
    padding: 0.53125rem 1rem;
}

/* ------------------------ Primary button styles ------------------------ */
.btn-primary {
    background-color: var(--primary-purple);
    color: var(--gray-100);
    border-color: var(--gray-100);
}

.btn-primary:hover {
    background-color: var(--dark-purple);
}

.btn-primary:disabled,
.btn-primary.disabled {
    border-color: var(--gray-400);
    background-color: var(--semi-transparent-gray) !important;
    color: var(--gray-400) !important;
}

.btn-primary.include-arrow,
.btn-primary.include-arrow.destructive {
    background-image: url("../../assets/icons/18/whiteArrowRight.svg");
    background-repeat: no-repeat;
    background-position: calc(100% - 1rem) center;
    padding: 1rem 2.2rem 1rem 1rem;
    text-align: left;
}

.btn-primary.destructive {
    background-color: var(--primary-red);
    color: var(--gray-100);
}

/* ------------------------ Secondary button styles ------------------------ */
.btn-secondary {
    background-color: transparent;
    border-color: var(--primary-purple);
    color: var(--primary-purple);
}

.btn-secondary.include-arrow {
    background-image: url("../../assets/icons/18/PurpleArrowRight.svg");
    background-repeat: no-repeat;
    background-position: calc(100% - 1rem) center;
    padding: 1rem 2.2rem 1rem 1rem;
    text-align: left;
}

.btn-secondary.destructive {
    border-color: var(--primary-red);
    color: var(--primary-red);
}

.btn-secondary.destructive.include-arrow {
    background-image: url("../../assets/icons/18/redArrowRight.svg");
    background-repeat: no-repeat;
    background-position: calc(100% - 1rem) center;
    padding: 1rem 2.2rem 1rem 1rem;
    text-align: left;
}

.btn-secondary:hover {
    background-color: var(--light-purple);
}

.btn-secondary.disabled,
.btn-secondary:disabled {
    border-color: var(--gray-400) !important;
    color: var(--gray-400) !important;
}

.btn-secondary.destructive:hover {
    background-color: transparent;
}

/* ------------------------ END OF BUTTON STYLES ------------------------ */

/* ------------------------ INPUT STYLES START ----------------------------- */
.form-control {
    background-color: var(--primary-white);
    border-radius: 0.25rem;
    border-width: 0.125rem;
    border-color: var(--gray-300);
    border-style: solid;
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
    color: var(--gray-800);
    transition: border-color 150ms ease;
}

.form-control:focus {
    outline: none;
    border: solid 0.125rem var(--primary-purple);
}

.form-control::placeholder {
    color: var(--gray-400);
}

.form-control:user-invalid,
.form-control.invalid {
    border-radius: 0.25rem;
    background: linear-gradient(white, white) padding-box,
        var(--gradient-pink) border-box;
    border: 0.125rem solid transparent;
}

.form-feedback {
    font-size: 0.75rem;
    margin-block: 0.125rem;
    display: block;
    color: var(--gray-400);
}

.form-control.invalid ~ .form-feedback-wrapper > .form-feedback {
    color: var(--primary-red) !important;
}

/* ------------------------ END OF INPUT STYLES ----------------------------- */

/* ------------------------ LINK STYLES START ----------------------------- */

.link {
    color: var(--gray-400) !important;
    font-size: 1rem;
}

.link:hover,
.link.active {
    color: var(--primary-purple) !important;
}

/* ------------------------ END LINK STYLES ----------------------------- */

/* DROPDOWN */
.custom-select {
    position: relative;
    font-family: Arial;
}

.custom-select select {
    display: none; /*hide original SELECT element: */
    padding: 0.5rem;
}

.select-items div {
    padding: 0.5rem;
    color: var(--gray-900);
}

.select-selected {
    color: var(--gray-400);
    border-style: solid;
    border-color: var(--gray-200);
    border-width: 0.125rem;
    padding: 0.75rem 0.75rem;
}

/* style the items (options), including the selected item: */
.select-items div,
.select-selected {
    cursor: pointer;
    margin-block: 0.125rem;
    padding: 0.75rem 0.75rem;
    font-size: 1rem;
}

/* Style items (options): */
.select-items {
    position: absolute;
    padding: 0.75rem;
    background-color: var(--primary-white);
    color: var(--gray-900);
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

/* Hide the items when the select box is closed: */
.select-hide {
    display: none;
}

.select-items div:hover,
.same-as-selected {
    background-color: var(--primary-purple);
    color: var(--primary-white) !important;
    border-radius: 0.25rem;
}
