/* Base */
@import url("./base.css");

/* Components */
@import url("./components.css");

.container {
    width: calc(100% - 4rem);
    height: 100%;
    margin-inline: auto;
}

nav {
    height: 6rem;
}

.banner-text {
    font-size: 6rem;
    text-align: center;
    padding-inline: 20%;
    background-image: url("../../assets/background-mask-gradient.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 800;
    -webkit-font-smoothing: antialiased;
}

main {
    background-image: url("../../assets/world-map.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: calc(100vh - 6rem);
}


