/* Base */
@import url("./base.css");

/* Components */
@import url("./components.css");

.container {
    width: calc(100% - 6rem);
    height: 100%;
    margin-inline: auto;
}

nav {
    height: 6rem;
}

nav h1 a {
    color: var(--primary-purple);
}

.banner-text {
    font-size: 6rem;
    text-align: center;
    padding-inline: 20%;
    background-image: url("../../assets/background-mask-gradient.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 800;
    -webkit-font-smoothing: antialiased;
}

main {
    background-image: url("../../assets/world-map.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: calc(100vh - 6rem);
}

.page-content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    overflow: hidden;
    gap: 2rem;
    margin-bottom: 2rem;
}
.card-grid a {
    grid-column: span 4 / span 4;
}

#sidebar {
    position: absolute;
    z-index: 100;
    height: 100vh;
    right: -500px;
    width: 500px;
    background-color: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(10px);
    box-shadow: -4px 0 4px rgba(0, 0, 0, 0.1), -6px 0 8px rgba(0, 0, 0, 0.05);
    transition: all 200ms ease;
}

#sidebar.active {
    right: 0;
}

#sidebar > .side-wrapper {
    width: 100%;
    height: 100%;
}
#sidebar ul {
    li a {
        font-size: 2rem;
    }
}

#sidebar button {
    position: absolute;
    right: 2rem;
    top: 2rem;
    display: block;
}

/* Container for the element with negative positioning */
.overflow-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

@media (max-width: 1048px) {
    .card-grid a {
        grid-column: span 6 / span 6;
    }
    #burger-menu {
        display: block;
    }
    nav ul {
        display: none !important;
    }
    .banner-text {
        font-size: 4.5rem;
        padding-inline: 10%;
    }
}

@media (max-width: 750px) {
    .card-grid a {
        grid-column: span 12 / span 12;
    }
    .card .card-image-wrapper {
        height: 15rem !important;
    }
    .card .card-text {
        flex-direction: column !important;
    }
    .card .card-description {
        display: none !important;
    }
    .card .card-text-price {
        color: var(--gray-400) !important;
        font-size: 1rem !important;
        font-size: 400 !important;
    }

    .container {
        width: calc(100% - 4rem);
    }

    .banner-text {
        font-size: 3.5rem;
        padding-inline: 5%;
    }

    #sidebar {
        right: -100vw;
        width: 100%;
    }

    .section-header h1,
    .section-header span {
        font-size: 1.2rem;
        text-align: center;
    }
}
