<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="../../css/main.css" />
    </head>
    <body>
        <footer>
            <div class="d-flex justify-content-between">
                <h1>Uz Airways</h1>
                <ul class="d-flex gap-1 align-items-center">
                    <li>
                        <a class="link" href="destinations.html"
                            >Destinations</a
                        >
                    </li>
                    <li><a class="link" href="#">Some</a></li>
                    <li><a class="link" href="#">Some</a></li>
                    <li><a class="link" href="#">Some</a></li>
                </ul>
            </div>
        </footer>
    </body>
</html>
