<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="../../css/main.css" />
    </head>
    <body>
        <a href="">
            <figure class="card card-image-top card-lg m-5">
                <div class="card-image-wrapper">
                    <img
                        class="card-image"
                        src="../../../assets/card/city1.png"
                        alt="City view" />
                </div>
                <figcaption class="card-text">
                    <div class="card-text-detail overflow-hidden">
                        <h1 class="card-title overflow-ellipsis">
                            Product details
                            <a class="card-link" href="#">laborum porro amet</a>
                            quasi temporibus commodi dicta modi nobis. Vero
                            pariatur neque magnam!
                        </h1>
                        <p class="card-description overflow-ellipsis">
                            Product details Lorem ipsum dolor sit amet
                            consectetur adipisicing elit. Delectus sunt libero
                            maiores optio, consequatur unde qui. Optio
                            laudantium vero laboriosam facere. Maiores
                            dignissimos officia reiciendis exercitationem ipsam
                            ipsum veritatis! Nihil?
                        </p>
                    </div>
                    <h2 class="card-text-price">
                        <span>Flights from </span>$1,000
                    </h2>
                </figcaption>
            </figure>
        </a>

    </body>
</html>
